@mixin css3_property($property, $value...) {
  @each $prefix in -webkit-, -moz-, -ms-, -o-, '' {
    #{$prefix}#{$property}: $value;
  }
}

@mixin css3_value($property, $value...) {
  @each $prefix in -webkit-, -moz-, -ms-, -o-, '' {
    #{$property}: #{$prefix}$value;
  }
}

@mixin trans_base($clr, $size) {
  border: 1px solid #000;
  background-color: #fff;

  @include css3_property(background-size, $size $size);
  background-position: 0 0, $size/2 $size/2;

  @each $prefix in -webkit-, -moz-, -ms-, -o-, '' {
    background-image:
      #{$prefix}linear-gradient(  45deg, $clr 25%, transparent 25%, transparent 75%, $clr 75%),
      #{$prefix}linear-gradient(-135deg, $clr 25%, transparent 25%, transparent 75%, $clr 75%);
  }
}
